@mixin break-word() {
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.list-article {
  clear:both;

  .article-author-side {
    min-height: 5px;
  }

  .article-wrap {
    margin-bottom: 3em;
  }
}

.article-wrap {
  p>a, li>a {
    @include break-word();
  }
}
.fluid-width-video-wrapper {
  margin-bottom: 2em;
}

figcaption {
  text-align: center;
}
figure img {
  border-radius: 4px;
}
.pagination-wrap {
  @include container;
  @include clearfix;
  clear: both;
  padding-bottom: 3em;
  a,
  a:active,
  a:visited,
  p,
  h4,
  h5,
  h6,
  span {
    @include font-rem(14);
  }
  .pagination {
    text-align: center;
  
    @include grid(12,10);
    @include prefix(12,1);
    @include suffix(12,1);
    @media #{$small} {
      @include grid(12,6);
      @include prefix(12,3);
      @include suffix(12,3);
    }
    @media #{$x-large} {
      @include grid(12,4.5);
      @include prefix(12,4);
      @include suffix(12,3.5);
    }
  }
}
.pagination {
  .relative {
    border: 2px solid #ccc;
    text-transform: uppercase;
  }
  .current {
    background-color: #111;
    color: #ddd;
  }
  span.relative {
    color: #ccc;
  }
  span, a {
    border-radius: 4px;
    padding: 5px 10px;
    margin: 0 8px 8px 0;
    display: none;

    &.relative, &.current {
      display: inline-block;
    }
  }

  @media #{$small} {
    span, a {
      display: inline-block;
    }
  }
}

#article-column {
  @include container;
  @include grid(12,10);
  @include prefix(12,1);
  @include suffix(12,1);
  margin-bottom: 2em;
  @media #{$small} {
    @include grid(12,6);
    @include prefix(12,0);
    @include suffix(12,0);
  }
  @media #{$x-large} {
    @include grid(12,4.5);
  }
  article {
    &.post {
      float: none;
    }

  }
}

/* Index listing specific styling */
.collection-index {
  margin-bottom: 2em;
  border-bottom: 1px solid lighten($black,70);

  h3 {
    margin: 0;
    padding-bottom: .5em;
    @include font-rem(28);
    border-bottom: 1px solid lighten($black,70);
  }
  article {
    h2 {
      margin-bottom: 4px;
      @include font-rem(20);
      &.link-post {
        margin-bottom: 0px + $doc-line-height;
        margin-bottom: 0rem + ($doc-line-height / $doc-font-size);
      }
    }
    p {
      @include font-rem(14);
    }
    p+p {
      text-indent: 0;
    }
  }
}
.project-list {
  article {
    width: 200px;
    float: left;
    margin-right: 25px;
  }
  figcaption {
    @include font-rem(16);
  }
  .thumb-wrap {
    min-height: 200px;
  }
}
.user-form {
  background-color: #f8f8f8;
  padding: 20px;
  border: 1px solid #dadada;
  border-radius: 6px;

  label {
    display: none;
  }
  input, textarea {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #dadada;
  }
  fieldset {
    border: none;
  }

  button {
    padding: 10px 20px;
    border-radius: 4px;
    border: none;
    background-color: #222;
    color: #efefef;
    text-transform: uppercase;
  }
}

.post hr {
  margin: 3em 0 1em 0;
}

h1 {
 font-size: 2.4rem;
}

.headline-wrap {
  h1 {
    margin-bottom: 0.4rem;
  }
  .date {
    font-style: italic;
    color: #aaa;
    margin-bottom: 1.65rem;
  }
}
