<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
</head>

<body class="post">

{% include _browser-upgrade.html %}

{% include _navigation.html %}

{% if page.image.feature %}
  <div class="image-wrap">
  <img src=
    {% if page.image.feature contains 'http' %}
      "{{ page.image.feature }}"
    {% else %}
      "{{ site.baseurl }}/images/{{ page.image.feature }}"
    {% endif %}
  alt="{{ page.title }} feature image">
  {% if page.image.credit %}
    <span class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>
  {% endif %}
  </div><!-- /.image-wrap -->
{% endif %}

<div id="main" role="main">
  <div class="article-author-side">
  </div>
   {% for post in paginator.posts %}
   <div class="list-article">
   <div class="article-author-side ">
     {% if forloop.first %}
      {% include _author-bio.html %}
     {% endif %}
   </div>
   <article class="post">
    <div class="headline-wrap">
      {% if post.link %}
        <h1><a href="{{ post.link }}">{{ post.title }}</a></h1>
      {% else %}
        <h1><a href="{{ site.baseurl }}{{ post.url }}" rel="bookmark" title="{{ post.title }}">{{ post.title }}</a></h1>
      {% endif %}
    </div><!--/ .headline-wrap -->
    <div class="article-wrap">
      {{ post.content }}
      <footer role="contentinfo">
        {% if post.share != false %}{% include _social-share.html %}{% endif %}
        <p class="byline"><strong>{{ post.title }}</strong> was published on <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time>{% if post.modified %} and last modified on <time datetime="{{ post.modified | date: "%Y-%m-%d" }}">{{ post.modified | date: "%B %d, %Y" }}</time>{% endif %}.</p>
      </footer>
    </div><!-- /.article-wrap -->
  {% if site.owner.disqus-shortname and post.comments == true %}
    <section id="disqus_thread"></section><!-- /#disqus_thread -->
  {% endif %}
    <hr />
  </article>

  </div>
  {% endfor %}

  {% if paginator.total_pages > 1 %}
  <div class="pagination-wrap">
  <div class="pagination">
    {% if paginator.previous_page %}
      <a class="relative" href="{{ paginator.previous_page_path | relative_url }}">Prev</a>
    {% else %}
      <span class="relative">Prev</span>
    {% endif %}

    {% for page in (1..paginator.total_pages) %}
      {% if page == paginator.page %}
        <span class="current">{{ page }}</span>
      {% elsif page == 1 %}
        <a href="{{ paginator.previous_page_path | relative_url }}">{{ page }}</a>
      {% else %}
        <a href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{ page }}</a>
      {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
      <a class="relative" href="{{ paginator.next_page_path | relative_url }}">Next</a>
    {% else %}
      <span class="relative">Next</span>
    {% endif %}
  </div>
  </div>
  {% endif %}

</div><!-- /#main -->

<div class="footer-wrap">
  {% if site.related_posts.size > 0 %}
  <div class="related-articles">
  <h4>You might also enjoy <small class="pull-right">(<a href="{{ site.baseurl }}/posts/">View all posts</a>)</small></h4>
    <ul>
    {% for post in site.related_posts limit:3 %}</html>
      <li><a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
    {% endfor %}
    </ul>
    <hr />
  </div><!-- /.related-articles -->
  {% endif %}
  <footer>
    {% include _footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include _scripts.html %}	        

</body>
